name: github-actions-rails

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.7", "3.2", "3.3", "3.4", "4.0", head, truffleruby, truffleruby-head]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true
      - name: Run tests
        env:
          RAILS_ENV: test
        run: bundle exec rake
